---
import Layout from "../layouts/Layout.astro";
import Signature from "../components/Signature.astro";
import Gallery from "../components/Gallery.astro";
---

<Layout>
  <header>
    <Signature />
    <nav>
      <a href="/cart">Cart</a>
    </nav>
  </header>
  <main>
    <Gallery />
  </main>
</Layout>
