---
import Signature from "../components/Signature.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🖼️</text></svg>"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Art Gallery</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/" id="signature"><Signature /></a>
      </nav>
    </header>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  nav {
    padding-inline: 3em;
    padding-block: 2em;
  }
</style>

